In [12]:
import yfinance as yf
import pandas as pd
from datetime import datetime, timedelta

In [13]:
ticker = "SPY"

td = datetime.today()
annual_end = td - timedelta(days=5040)
sixty_days = td - timedelta(days=59)
# Fetch stock data
stock = yf.Ticker(ticker)
annualized_data = stock.history(start=annual_end.strftime('%Y-%m-%d'), end=td.strftime('%Y-%m-%d'), interval="1d")

annualized_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2010-12-27 00:00:00-05:00,97.174152,97.671167,97.104262,97.577980,58126000,0.0,0.0,0.0
2010-12-28 00:00:00-05:00,97.772119,97.810945,97.461484,97.717758,55309100,0.0,0.0,0.0
2010-12-29 00:00:00-05:00,97.834227,98.005071,97.772099,97.787628,58033100,0.0,0.0,0.0
2010-12-30 00:00:00-05:00,97.694445,97.950714,97.484763,97.632317,76616900,0.0,0.0,0.0
2010-12-31 00:00:00-05:00,97.484767,97.748809,97.329452,97.655617,91218900,0.0,0.0,0.0

In [14]:
annualized_data.index = annualized_data.index.date

In [15]:
annualized_data[["Open", "High", "Low", "Close", "Volume"]].to_csv("SPY_10_years.csv")