In [309]:
import yfinance as yf
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [310]:
# "SPY" "QQQ" "IWM" "NVDA" "TWLO" "PLTR" "EXK" "FCX"

ticker = "SPY"

In [311]:
td = datetime.today()
annual_end = td - timedelta(days=6205)

stock = yf.Ticker(ticker)
df = stock.history(start=annual_end.strftime('%Y-%m-%d'), end=td.strftime('%Y-%m-%d'), interval="1d")

df.index = df.index.date

df['LGR'] = np.log(df['Close'] / df['Close'].shift(1))
df['LGR'] = df['LGR'].round(5)
df = df[["Open", "High", "Low", "Close", "LGR"]].dropna()

df[["Open", "High", "Low", "Close", "LGR"]].to_csv("../daily.csv")

df.head()

                  Open        High         Low       Close      LGR
2007-11-19  105.047255  105.105101  103.536046  103.948189 -0.01402
2007-11-20  104.136167  105.227995  102.755105  104.584465  0.00610
2007-11-21  103.456523  104.056670  102.436995  102.444221 -0.02068
2007-11-23  103.449264  104.367551  103.181721  104.215714  0.01714
2007-11-26  104.432639  104.758028  101.706682  101.916367 -0.02231

In [312]:
td = datetime.today()
start_date = td - timedelta(days=600)

stock = yf.Ticker(ticker)
df = stock.history(start=start_date.strftime('%Y-%m-%d'), end=td.strftime('%Y-%m-%d'), interval="1h")

df.index = df.index.date

df['LGR'] = np.log(df['Close'] / df['Close'].shift(1))
df['LGR'] = df['LGR'].round(5)
df = df[["Open", "High", "Low", "Close", "LGR"]].dropna()

df[["Open", "High", "Low", "Close", "LGR"]].to_csv("../hourly.csv")

df.head()

                  Open        High         Low       Close      LGR
2023-03-22  399.739990  399.880005  398.390015  398.890015 -0.00213
2023-03-22  398.902496  399.160004  398.049988  398.267487 -0.00156
2023-03-22  398.285004  398.410004  397.369995  398.216003 -0.00013
2023-03-22  398.230011  401.700012  398.130005  399.929993  0.00429
2023-03-22  399.934998  402.489990  395.670013  398.950012 -0.00245

In [313]:

stock = yf.Ticker(ticker)
df = stock.history(start="2024-09-20", end="2024-11-11", interval="5m")

df.index = df.index.date

df['LGR'] = np.log(df['Close'] / df['Close'].shift(1))
df['LGR'] = df['LGR'].round(5)
df = df[["Open", "High", "Low", "Close", "LGR"]].dropna()

df[["Open", "High", "Low", "Close", "LGR"]].to_csv("../five_minutely.csv")

df.head()

                  Open        High         Low       Close      LGR
2024-09-20  567.989990  568.495789  567.919983  568.299988  0.00055
2024-09-20  568.299988  568.390015  567.780029  567.849976 -0.00079
2024-09-20  567.840027  568.030029  567.520020  567.599976 -0.00044
2024-09-20  567.609985  568.099976  567.549988  567.612976  0.00002
2024-09-20  567.599976  567.760010  567.130005  567.148987 -0.00082